.card {
    background-color: #8149fa;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    width: 30rem;
    padding: 1rem;
    margin: 2rem auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .author {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(256,256,256, 0.6);
    font-style: italic;
    padding-top: 0.5rem;
  }
  
  .button {
    gap: 0.25rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .button:hover {
    background-color: #8149fa;
  }
  .button:active {
    background-color: #8149fa;
    box-shadow: inset 1px 1px 10px 1px #11009e;
    transform: translateY(2px);
  }
  
  img {
    width: 0.8rem;
  }
  
  .text {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    padding-bottom: 0.5rem;
    text-align: left;
  }
  