* {
  box-sizing: border-box;
}


:root {
  overflow-wrap: break-word;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #6d42e4;
}

body {
  text-align: center;
  margin: 0;
}